Common/PW.SericeCore/Service References/Statistics/ServiceStatistics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceStatistics" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:43247/ServiceStatistics.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:43247/ServiceStatistics.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:43247/ServiceStatistics.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceStatistics_AgeCnts_InputMessage">
    <wsdl:part name="parameters" element="tns:AgeCnts" />
  </wsdl:message>
  <wsdl:message name="IServiceStatistics_AgeCnts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgeCntsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStatistics_AddrCnts_InputMessage">
    <wsdl:part name="parameters" element="tns:AddrCnts" />
  </wsdl:message>
  <wsdl:message name="IServiceStatistics_AddrCnts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddrCntsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStatistics_DateCnts_InputMessage">
    <wsdl:part name="parameters" element="tns:DateCnts" />
  </wsdl:message>
  <wsdl:message name="IServiceStatistics_DateCnts_OutputMessage">
    <wsdl:part name="parameters" element="tns:DateCntsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStatistics_NameTags_InputMessage">
    <wsdl:part name="parameters" element="tns:NameTags" />
  </wsdl:message>
  <wsdl:message name="IServiceStatistics_NameTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:NameTagsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceStatistics">
    <wsdl:operation name="AgeCnts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStatistics/AgeCnts" message="tns:IServiceStatistics_AgeCnts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStatistics/AgeCntsResponse" message="tns:IServiceStatistics_AgeCnts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddrCnts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStatistics/AddrCnts" message="tns:IServiceStatistics_AddrCnts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStatistics/AddrCntsResponse" message="tns:IServiceStatistics_AddrCnts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DateCnts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStatistics/DateCnts" message="tns:IServiceStatistics_DateCnts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStatistics/DateCntsResponse" message="tns:IServiceStatistics_DateCnts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NameTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStatistics/NameTags" message="tns:IServiceStatistics_NameTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStatistics/NameTagsResponse" message="tns:IServiceStatistics_NameTags_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceStatistics" type="tns:IServiceStatistics">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgeCnts">
      <soap:operation soapAction="http://tempuri.org/IServiceStatistics/AgeCnts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddrCnts">
      <soap:operation soapAction="http://tempuri.org/IServiceStatistics/AddrCnts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DateCnts">
      <soap:operation soapAction="http://tempuri.org/IServiceStatistics/DateCnts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NameTags">
      <soap:operation soapAction="http://tempuri.org/IServiceStatistics/NameTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStatistics">
    <wsdl:port name="BasicHttpBinding_IServiceStatistics" binding="tns:BasicHttpBinding_IServiceStatistics">
      <soap:address location="http://localhost:43247/ServiceStatistics.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>