Common/PW.SericeCore/Service References/ServiceCodeGenerator/ServiceCodeGenerator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCodeGenerator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:43247/ServiceCodeGenerator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:43247/ServiceCodeGenerator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:43247/ServiceCodeGenerator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCodeGenerator_queryTables_InputMessage">
    <wsdl:part name="parameters" element="tns:queryTables" />
  </wsdl:message>
  <wsdl:message name="IServiceCodeGenerator_queryTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCodeGenerator_queryViews_InputMessage">
    <wsdl:part name="parameters" element="tns:queryViews" />
  </wsdl:message>
  <wsdl:message name="IServiceCodeGenerator_queryViews_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryViewsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCodeGenerator_queryColumns_InputMessage">
    <wsdl:part name="parameters" element="tns:queryColumns" />
  </wsdl:message>
  <wsdl:message name="IServiceCodeGenerator_queryColumns_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryColumnsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCodeGenerator">
    <wsdl:operation name="queryTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCodeGenerator/queryTables" message="tns:IServiceCodeGenerator_queryTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCodeGenerator/queryTablesResponse" message="tns:IServiceCodeGenerator_queryTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryViews">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCodeGenerator/queryViews" message="tns:IServiceCodeGenerator_queryViews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCodeGenerator/queryViewsResponse" message="tns:IServiceCodeGenerator_queryViews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryColumns">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCodeGenerator/queryColumns" message="tns:IServiceCodeGenerator_queryColumns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCodeGenerator/queryColumnsResponse" message="tns:IServiceCodeGenerator_queryColumns_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCodeGenerator" type="tns:IServiceCodeGenerator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="queryTables">
      <soap:operation soapAction="http://tempuri.org/IServiceCodeGenerator/queryTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryViews">
      <soap:operation soapAction="http://tempuri.org/IServiceCodeGenerator/queryViews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryColumns">
      <soap:operation soapAction="http://tempuri.org/IServiceCodeGenerator/queryColumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCodeGenerator">
    <wsdl:port name="BasicHttpBinding_IServiceCodeGenerator" binding="tns:BasicHttpBinding_IServiceCodeGenerator">
      <soap:address location="http://localhost:43247/ServiceCodeGenerator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>