Common/PW.SericeCore/Service References/ServiceCodeGenerator/ServiceCodeGenerator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43247/ServiceCodeGenerator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" />
  <xs:element name="queryTables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="queryTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="queryTablesResult" nillable="true" type="q1:ArrayOftable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryViews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="queryViewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="queryViewsResult" nillable="true" type="q2:ArrayOftable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="queryColumnsResult" nillable="true" type="q3:ArrayOfcolumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>