Common/PW.SericeCore/Service References/ServiceMenu/ServiceMenu1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="CACHE" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="COMPONENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPONENT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_TIME" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HIDDEN" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ICON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="I_FRAME" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MODULES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SORT" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="menu" nillable="true" type="tns:menu" />
  <xs:complexType name="ArrayOfmenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="menu" nillable="true" type="tns:menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmenu" nillable="true" type="tns:ArrayOfmenu" />
  <xs:complexType name="PageInfoOfmenuCLUigIiY">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageInfoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="menu" Namespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="list" nillable="true" type="tns:ArrayOfmenu" />
      <xs:element minOccurs="0" name="orderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      <xs:element minOccurs="0" name="queryParams" nillable="true" type="tns:menu" />
      <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      <xs:element minOccurs="0" name="totalPage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageInfoOfmenuCLUigIiY" nillable="true" type="tns:PageInfoOfmenuCLUigIiY" />
</xs:schema>