Common/PW.SericeCore/Service References/ServiceUser/ServiceUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUser" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:43247/ServiceUser.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:43247/ServiceUser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:43247/ServiceUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUser_query_InputMessage">
    <wsdl:part name="parameters" element="tns:query" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_query_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_queryPage_InputMessage">
    <wsdl:part name="parameters" element="tns:queryPage" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_queryPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryPageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_deleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteById" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_deleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_updateById_InputMessage">
    <wsdl:part name="parameters" element="tns:updateById" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_updateById_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_getById_InputMessage">
    <wsdl:part name="parameters" element="tns:getById" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_getById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUser">
    <wsdl:operation name="query">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/query" message="tns:IServiceUser_query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/queryResponse" message="tns:IServiceUser_query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/queryPage" message="tns:IServiceUser_queryPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/queryPageResponse" message="tns:IServiceUser_queryPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/deleteById" message="tns:IServiceUser_deleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/deleteByIdResponse" message="tns:IServiceUser_deleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/add" message="tns:IServiceUser_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/addResponse" message="tns:IServiceUser_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/updateById" message="tns:IServiceUser_updateById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/updateByIdResponse" message="tns:IServiceUser_updateById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/getById" message="tns:IServiceUser_getById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/getByIdResponse" message="tns:IServiceUser_getById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceUser" type="tns:IServiceUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="query">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryPage">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/queryPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteById">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/deleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateById">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/updateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/getById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUser">
    <wsdl:port name="BasicHttpBinding_IServiceUser" binding="tns:BasicHttpBinding_IServiceUser">
      <soap:address location="http://localhost:43247/ServiceUser.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>