Common/PW.SericeCore/Service References/ServiceUser/ServiceUser1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="AVATAR_ID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CREATE_TIME" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEPT_ID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENABLED" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="JOB_ID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LAST_PASSWORD_RESET_TIME" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NICK_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="PageInfoOfuserCLUigIiY">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageInfoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="user" Namespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="list" nillable="true" type="tns:ArrayOfuser" />
      <xs:element minOccurs="0" name="orderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      <xs:element minOccurs="0" name="queryParams" nillable="true" type="tns:user" />
      <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      <xs:element minOccurs="0" name="totalPage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageInfoOfuserCLUigIiY" nillable="true" type="tns:PageInfoOfuserCLUigIiY" />
</xs:schema>