Common/PW.SericeCore/Service References/ServiceUser/ServiceUser2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43247/ServiceUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" />
  <xs:element name="query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="record" nillable="true" type="q1:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="queryResult" nillable="true" type="q2:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="record" nillable="true" type="q3:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="queryPageResult" nillable="true" type="q4:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="record" nillable="true" type="q5:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="record" nillable="true" type="q6:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PW.DBCommon.Model" minOccurs="0" name="getByIdResult" nillable="true" type="q7:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>